:root {
    --white: #fff;
    --fontMain: "Abril Fatface", serif;
}

body {
    background-image: url(../Img/Background.png);
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-relative {
    position: relative;
}

a {
    text-decoration: none;
}

.p-absolute {
    position: absolute;
}

.t-uppercase {
    text-transform: uppercase;
}

.content-sideBar .sidebar-image {
    height: 35rem;
    margin: 18rem 0 0 3rem;

}

.content-sideBar .icons-sideBar {
    top: 20rem;
    left: 5.5rem;
}

.content-sideBar .icons-sideBar img {
    width: 2.3rem;
    margin-top: 1.4rem;
}

.content-sideBar .icons-sideBar .planet {
    background-color: rgb(80, 76, 76);
    width: 3.7rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.content-sideBar .icons-sideBar .planet .planet-img {
    margin-top: 0.2rem;
}

/*Section explore*/
.container-section-explore .content-section-explore {
    margin-top: -50rem;
    margin-left: 8rem;
}

.container-system-solar .content-system-solar .systemSolar {
    display: flex;
    margin-top: -74rem;
    margin-left: 2.4rem;
    justify-content: center;
}

.container-system-solar .content-system-solar .systemSolar .orbit {
    margin-top: -1rem;
}

.container-system-solar .content-system-solar .systemSolar .sun {
    margin-left: -62rem;
    margin-top: -10rem;
}

.container-system-solar .content-system-solar .systemSolar .planets-sec {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-left: -48rem;
    margin-top: -11rem;
}

.container-system-solar .content-system-solar .systemSolar .light-blur {
    width: 2rem;
    margin-top: -3rem;
}

.container-system-solar .content-system-solar .systemSolar .planets-sec img {
    margin-right: 4rem;
}

.content-filter {
    display: flex;

}

.content-filter .all-astros,
.most-viewed {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383636;
    width: 8rem;
    height: 2.4rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: -72rem;
    margin-left: 5rem;
}

.content-filter .all-astros p,
i,
.most-viewed p,
i {
    font-weight: 900;
    color: var(--white);
    padding: 0.2rem;
}

/*Cards*/
.container-cards .content-cards {
    margin: -67rem 0 0 6rem;
}

.container-cards .content-cards .card-earth .content-card-earth {
    margin-top: -16rem;
    margin-left: 1.3rem;
}
.container-cards .content-cards .card-earth .content-card-earth .eart{
    display: flex;
    flex-direction: column;
    width: 75%;
    line-height: 1.5rem;
}
.container-cards .content-cards .card-earth .content-card-earth .eart img{
    margin:  -5rem 0 0 25rem;
}

.container-cards .content-cards .card-earth .content-card-earth h2 {
    background: linear-gradient(to top, #2AE5FF, #0075FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: var(--fontMain);
    font-size: 2.5rem;
    margin-top: -0.5rem;
}
.container-cards .content-cards .card-earth .content-card-earth span{
    background: linear-gradient(to top, #2AE5FF, #0075FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.container-cards .content-cards .card-earth .content-card-earth h3 {
    color: var(--white);
    margin-top: -1.3rem;
}

.content-cards .card-earth .content-card-earth .explore-icons {
    display: flex;
    align-items: center;
}

.container-cards .content-cards .card-earth .content-card-earth .button-explore,
.button {
    display: flex;
    align-items: center;
    background: linear-gradient(to top, #2AE5FF, #0075FF);
    width: 45%;
    border-radius: 5rem;
    height: 56px;
    gap: 1.2rem;
}

.container-cards .content-cards .card-earth .content-card-earth .button-explore h4 {
    font-size: 1.5rem;
    color: var(--white);
}


.container-cards .content-cards .card-earth .content-card-earth .button-explore i {
    font-size: 3rem;
}

.container-cards .content-cards .card-earth .content-card-earth .group-icons {
    font-size: 3rem;
    margin-left: 3rem;
}

.container-cards .content-cards .card-earth .content-card-earth .group-icons i {
    font-weight: 100;
    cursor: pointer;
}
