body {
    background-image: url(../Img/Background.png);
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.content-sideBar .img-sidebar {
    margin: 2.2rem 0 0 3rem;
}
.content-sideBar .sidebar-image{
    height: 35rem;
}

.content-sideBar .icons-sideBar {
    top: 4rem;
    left: 5.5rem;
}

.content-sideBar .icons-sideBar img {
    width: 2.3rem;
    margin-top: 1.4rem;
}

.content-sideBar .icons-sideBar .planet {
    background-color: rgb(80, 76, 76);
    width: 3.7rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.content-sideBar .icons-sideBar .planet .planet-img{
    margin-top: 0.2rem;
}