body {
    background-image: url(../Img/Background.png);
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.content-sideBar .sidebar-image {
    height: 35rem;
    margin: 18rem 0 0 3rem;

}

.content-sideBar .icons-sideBar {
    top: 20rem;
    left: 5.5rem;
}

.content-sideBar .icons-sideBar img {
    width: 2.3rem;
    margin-top: 1.4rem;
}

.content-sideBar .icons-sideBar .planet {
    background-color: rgb(80, 76, 76);
    width: 3.7rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.content-sideBar .icons-sideBar .planet .planet-img {
    margin-top: 0.2rem;
}

/*Section explore*/
.container-section-explore .content-section-explore {
    margin-top: -50rem;
    margin-left: 8rem;
}

.container-system-solar .content-system-solar .systemSolar {
    display: flex;
    margin-top: -74rem;
    margin-left: 2.4rem;
    justify-content: center;
}
.container-system-solar .content-system-solar .systemSolar .orbit{
    margin-top: -1rem;
}

.container-system-solar .content-system-solar .systemSolar .sun {
    margin-left: -62rem;
    margin-top: -10rem;
}
.container-system-solar .content-system-solar .systemSolar .planets-sec{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-left: -48rem;
    margin-top: -11rem;
}
.container-system-solar .content-system-solar .systemSolar .light-blur{
    width: 2rem;
    margin-top: -3rem;
}

.container-system-solar .content-system-solar .systemSolar .planets-sec img{
    margin-right: 4rem;
}
